<footer class="pt-50 pb-50">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-3 col-sm-6">
                <!--Contant Item-->
                <div class="contact-info">
                    <h5>ایمیل</h5>
                    <p>tahaayati2007@gmail.com</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <!--Contant Item-->
                <div class="contact-info">
                    <h5>شماره تماس</h5>
                    <p>0993*******</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <!--Contant Item-->
                <div class="contact-info">
                    <h5>ایدی تلگرام</h5>
                    <p>taha.Ul</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <!--Contant Item-->
                <div class="contact-info">
                    <h5>آدرس</h5>
                    <p>ایران،اصفهان</p>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-12">
                <hr>
                <p class="copy pt-30">
                    © 2024 تمامی حقوق محفوظ است. طراحی و توسعه توسط طاها.

                    <a style="color: dodgerblue;" href="#"></a>
                </p>
            </div>
        </div>
    </div>
</footer>
