<footer class="pt-50 pb-50">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-3 col-sm-6">
                <!--Contant Item-->
                <div class="contact-info">
                    <h5>نت کپی</h5>
                    <p>لورم ایپسوم متن ساختگی </p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <!--Contant Item-->
                <div class="contact-info">
                    <h5>تلفن</h5>
                    <p>(+98) 123 456 7890</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <!--Contant Item-->
                <div class="contact-info">
                    <h5>ایمیل</h5>
                    <p>info@example.com</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <!--Contant Item-->
                <div class="contact-info">
                    <h5>آدرس</h5>
                    <p>ایران،تهران،برج میلاد</p>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-12">
                <hr>
                <p class="copy pt-30">
                    © 2024 تمامی حقوق محفوظ است. طراحی و توسعه توسط طاها.

                    <a style="color: dodgerblue;" href="#"></a>
                </p>
            </div>
        </div>
    </div>
</footer>
