<!DOCTYPE html>
<html dir="rtl" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="Personal, Portfolio, Creative">
    <meta name="description" content="Kalvin Portfolio Template">
    <meta name="author" content="cosmos-themes">

    <title>@ViewData["Title"] - رزومه من</title>

    <!-- favicon -->
    <link href="/images/favicon.ico" rel="icon" type="image/png">

    <!-- CSS Files -->
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    @* هدر را فقط اگر HideHeader مقدار true نداشته باشد نمایش بده *@
    @if (!(ViewData["HideHeader"]?.Equals(true) ?? false))
    {
        <partial name="_Nav" />
    }

    <!--Preloader-->
    <div class="preloader">
        <div class="loader"></div>
    </div>
    <!--Preloader-->
    @RenderBody() <!-- اینجا محتوای صفحات لود می‌شود -->
    <!-- Footer -->
    <partial name="_Footer" />

    <!-- JS Files -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.stellar.js"></script>
    <script src="/js/animated.headline.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/scrollIt.min.js"></script>
    <script src="/js/isotope.pkgd.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/main.js"></script>

</body>
</html>
