 @page
@model Weblog.Pages.Auth.RegisterModel
@{
    Layout = "Shared/_AuthLayout";
    ViewData["Title"] = "SingUp";
}
<div class="form login">
    <div class="form-content">
        <header>SingUp</header>
        <form method="post">
            <div class="field input-field">
                <input type="text" asp-for="FullName" placeholder="FullName" class="input">
                <span asp-validation-for="FullName" class="error-message" style="color: red"></span>
            </div>
            <div class="field input-field">
                <input type="username" asp-for="UserName" placeholder="UserName" class="input">
                <span asp-validation-for="UserName" class="error-message" style="color: red"></span>
            </div>
            <div class="field input-field">
                <input type="password" asp-for="Password" placeholder="Password" class="password">
                <span asp-validation-for="Password" class="error-message" style="color: red"></span>
                <i class='bx bx-hide eye-icon'></i>
            </div>
            <div class="field button-field">
                <button>SingUp</button>
            </div>
        </form>

        <div class="form-link">
            <span>you have an account? <a asp-page="Login">Login</a></span>
        </div>
    </div>
</div>